In [8]:
#All the predefined requirements for machine learning are included in sklearn package
import sklearn
#Excel based requirements are included in pandas package
import pandas as pd
#Numericals are included in numpy package
import numpy as np

In [10]:
#dependnet varible y and independent varaible x
#dataframe converts data into excel format.
y=pd.DataFrame([1,4,10,9,6,3,1,5])
x=pd.DataFrame([54,35,94,68,22,78,99,45])

In [4]:
#import specific component from the package, use tab for suggestions
from sklearn.linear_model import LinearRegression

In [5]:
#creating the instance of a class
lr=LinearRegression()

In [11]:
#fit is used to apply the formula
lr.fit (x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [12]:
y

    0
0   1
1   4
2  10
3   9
4   6
5   3
6   1
7   5

In [15]:
#dispaly the coefficient
lr.coef_

array([[0.00426226]])

In [16]:
#display the intercept
lr.intercept_

array([4.61127285])

In [17]:
#dispaly r^2
lr.score(x,y)

0.0012361220486429847